* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D6EFD8;
    --secondary-color: #80AF81;
    --font-color: #508D4E;
    --color-btn: #1A5319;
    --fonte: "Roboto", sans-serif;
}
body{
    font-family: var(--fonte);
    font-weight: 500;
    background-color: var(--primary-color);
}
div,form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 3rem auto;
}

input {
    outline: none;
    border: none;
    border: 1px solid var(--color-btn);
    border-radius: 20px;
    padding: 0.5rem 2rem;
  
}
.title {
    color: var(--font-color);
}

.btn, .add-lembrete-btn {
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    color: #FFFF;
    background-color: var(--color-btn);
    padding: 0.5rem 2rem;
    margin-top: 1rem;
}

/* Style agendamentos */
.container-agendamentos {
    padding: 1rem;
    border: 1px solid var(--color-btn);
    border-radius: 20px;
}
.remove-client-btn {
    border: none;
    border-radius: 20px;
    color: #FFFF;
    font-size: 1rem;
    background-color: rgb(125, 15, 15);
    padding: 0.5rem 2rem;
    margin-top: 1rem;
}